<!DOCTYPE html>
<html lang="en">
<head>
	<base href="/">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/stylesheets/about.css">
	<title>About Page</title>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="works">Works</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<h1>About William Shakespeare</h1>
		<img src="/images/statue.jpg" alt="statue of William Shakespeare">
		<p>William Shakespeare was born in Stratford-upon-Avon, England in 1564. He was the third child of John Shakespeare, a leather merchant, and Mary Arden, a local heiress. Shakespeare attended grammar school in his hometown and later moved to London, where he became an actor and playwright. He wrote over 30 plays, including "Hamlet," "Romeo and Juliet," and "Macbeth," and composed 154 sonnets. Shakespeare's works are considered some of the greatest in the English language and have been translated into every major living language. He died in 1616 at the age of 52 and was buried in Stratford-upon-Avon. Shakespeare's legacy continues to influence literature, drama, and culture worldwide, making him one of the most celebrated figures in history.</p>
	</main>
</body>
</html>
