<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script type="text/javascript" src="/scripts/script.js"></script>
    <title>Homepage</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="about">About</a></li>
                <li><a href="works">Works</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Welcome to the homepage</h1>
        <p><img src="/images/shakespeareandcompany.jpg" alt="Shakespeare and Company image"></p>

        <h2>William Shakespeare</h2>
        <p>Welcome to the homepage of William Shakespeare, one of the greatest playwrights and poets in history. Born in Stratford-upon-Avon in 1564, Shakespeare's works have been performed and studied for over 400 years, and his influence on the English language and culture is immeasurable. From his famous plays like "Hamlet," "Romeo and Juliet," and "Macbeth" to his sonnets, Shakespeare's works continue to captivate audiences with their timeless themes of love, tragedy, comedy, and the human experience. On this website, you'll find a wealth of information about Shakespeare's life, works, and legacy, as well as resources for students, scholars, and enthusiasts alike. Explore the world of Shakespeare and discover why his works remain a cornerstone of literary and cultural history.</p>
        <p><img src="/images/portrait.jpg" alt="Shakespeare portrait image"></p>

        
        
    </main>

</body>
</html>
