<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/stylesheets/works.css">
	<title>Works page</title>
</head>
<body>
	<h1>Works of William Shakespeare</h1>
	
	<a href="/">Go back to home</a>
	<a href="about">Go to the about page</a>
	
	<ul>
		<li>
			<img src="/images/hamletbook.jpg" alt="Hamlet">
			<p>Hamlet</p>
		</li>
		<li>
			<img src="/images/macbeth.jpg" alt="Macbeth">
			<p>Macbeth</p>
		</li>
		<li>
			<img src="/images/romeoandjuliet.png" alt="Romeo and Juliet">
			<p>Romeo and Juliet</p>
		</li>
		<li>
			<img src="/images/othello.jpg" alt="Othello">
			<p>Othello</p>
		</li>
		<li>
			<img src="/images/kinglear.jpg" alt="King Lear">
			<p>King Lear</p>
		</li>
		<li>
			<img src="/images/julius.jpg" alt="Julius Caesar">
			<p>Julius Caesar</p>
		</li>
		<li>
			<img src="/images/thetempestjpg.jpg" alt="The Tempest">
			<p>The Tempest</p>
		</li>
		<li>
			<img src="/images/twelfth.jpg" alt="Twelfth Night">
			<p>Twelfth Night</p>
		</li>
		<li>
			
	</ul>
</body>
</html>

